<title>My application</title>
<h1>My Application</h1>
Please enter the integer list to left text area and a number to right text area.
<br>
(Numbers can be separeted with new line or ";")
<br>
After press the submit button you will see whether the number is grater than or equal to the average or not.
<br>
Also you will see the numbers that are less than and greater equal than the input number.
<br>
<br>
{{result}}
<br>
<br>
Numbers from list which are greater than or equal to input number : {{greater}}
<br>
Numbers from list which are less than the input number : {{less}}
<br>
<br>
<form action="compute" method="post">
    <textarea name="input1" rows="10" cols="30"></textarea>
    <textarea name="input2" rows="10" cols="30"></textarea>
    <br>
    <br>
    <input type="submit">

</form>